<div class="container clearfix">
  
    <div class="sixteen columns"> <h1 class="page-title">Frequently Asked Questions <span class="line"></span></h1> </div> <!-- Page Title -->
  
    <div id="description">
      <div class="sixteen columns">
        <div class="description bottom-2">
        <p>
           The only venue management system that integrates with Facebook to give you clean, trackable data and <span class="color2">&nbsp;virally&nbsp;</span> promote your venues, promoters, guest lists and events.
        </p>
        </div>
      </div>
    </div><!-- End description -->
    
    <div class="clearfix"></div>
    
    <div class="sixteen columns">
     
        <h2 class="title">Frequently Asked Questions<span class="line"></span></h2>
        
        <p>
         Here are some commonly asked questions by our clients. If you have any questions that aren't answered here please feel free to &nbsp;<a href="/contact">contact us</a>.
       </p>
       
       
       <ul id="toggle-view" class="top-3">
        <li>
            <h3 class="normal">Is there a free trial period to test ClubbingOwl?</h3>
            <span class="link normal">+</span>
            <div class="panel">
                <p>Yes. Contact us and we will set you up with a free trial. We don’t take credit card information. We want you to try it – no strings attached!</p>
            </div>
        </li>
        <li>
            <h3 class="normal">What if guests do not have a Facebook account, can they still use ClubbingOwl?</h3>
            <span class="link normal">+</span>
            <div class="panel">
                <p>Yes. Promoters can add clients manually, even if they don't have Facebook or are not Facebook friends with a promoter.</p>
            </div>
        </li>
        <li>
            <h3 class="normal">Why is Facebook integration important?</h3>
            <span class="link normal">+</span>
            <div class="panel">
                <p>Facebook integration provides consistent and reliable data, allowing for meaningful insights over time. Unlike other management systems that rely on users filling out long, complex and cumbersome forms - ClubbingOwl lets users join guest lists with a single click. And since all Facebook users have unique identifiers, our system can track users accurately and give you more useful clientelle analytics. Not to meantion deep Facebook integration allows ClubbingOwl to virally promote our clients unlike any other platform.</p>
            </div>
        </li>
        <li>
            <h3 class="normal">Why should I try ClubbingOwl if I already have a Venue Management Software?</h3>
            <span class="link normal">+</span>
            <div class="panel">
                <p>ClubbingOwl is simply the easiest way for your clientele to join guest lists and reserve tables. No forms to fill out and no information error. The data you collect is meaningful and reliable.</p>
            </div>
        </li>
        <li>
            <h3 class="normal">Is your application 100% real-time?</h3>
            <span class="link normal">+</span>
            <div class="panel">
                <p>Yes. ClubbingOwl uses the latest software development technology to connect all team members in real-time. Update your guest list reservations or client notes and all other team members will have up-to-date information instantly.</p>
            </div>
        </li>
        <li>
            <h3 class="normal">Can the guest list and table RSVP widget be linked to my website or Facebook fanpage?</h3>
            <span class="link normal">+</span>
            <div class="panel">
                <p>Yes, the guest-list and table RSVP widget can be placed on any website or facebook fanpage. </p>
            </div>
        </li>
        <li>
            <h3 class="normal">Can I use ClubbingOwl on my mobile device?</h3>
            <span class="link normal">+</span>
            <div class="panel">
                <p>Yes, ClubbingOwl resizes in the web-browser to accommodate mobile and tablet devices. ClubbingOwl also sends out SMS notifications to promoters upon RSVP request from clients. This is a very functional tool for promoters and other staff members, as they can enter reservations at any time and from anywhere.</p>
            </div>
        </li>
        <li>
            <h3 class="normal">Is ClubbingOwl Secure?</h3>
            <span class="link normal">+</span>
            <div class="panel">
                <p>Yes, the protection of our clients data is our top priority. Our clients own their data; we simply store it on our servers in the United States and make it available through our interface. All data transmitted through our platform is encrpyted.</p>
            </div>
        </li>
        <li>
            <h3 class="normal">What if I want to cancel?</h3>
            <span class="link normal">+</span>
            <div class="panel">
                <p>You may cancel our venue management services at any time. There are no additional costs or further obligation for the cancellation of our services. You can easily export your clientelle data in CSV format and take it with you.</p>
            </div>
        </li>
        </ul>
        
        
        
      
   </div><!-- End column --> 

  
  </div><!-- <<< End Container >>> -->