<div class="container clearfix">
  
    <div class="sixteen columns"> <h1 class="page-title">About <span class="line"></span></h1> </div> <!-- Page Title -->
  
  
    <div id="description">
      <div class="sixteen columns">
        <h3>
           Cobar Systems’ Themis is a web-application that enables organizations to establish and quantify disaster preparedness through testing.  It provides automation and structure to management efforts involved in corporate business continuity testing, ultimately saving time and increasing employee’s engagement in business continuity.
        </h3>
  
      </div>
    </div><!-- End description -->
    
    <div class="sixteen columns"> <h1 class="page-title">How it Works <span class="line"></span></h1> </div> <!-- Page Title -->
    <div class="sixteen columns"> <h1 class="page-title">Key Features<span class="line"></span></h1> </div> <!-- Page Title -->
      
    <div class="sixteen columns"> <h1 class="page-title">Pricing <span class="line"></span></h1> </div> <!-- Page Title -->
    <div id="description">
      <div class="sixteen columns">
        <h3>
           We are currently in a free private beta, as we build out new features. Please contact us for an invititaion.
        </h3>
  
      </div>
    </div><!-- End description -->
    
    

  </div><!-- <<< End Container >>> -->