<div class="container clearfix">
  
 <img src="/images/magi.jpg">
 
  <% if(false){ %>
  
    <div id="welcome">
      <div class="sixteen columns">
        <div class="welcome">
        <p>
       
          
          <span style="font-weight:500;" class="color2">Innovating the way organizations manage business continuity testing. </span>
        </p>
        </div>
      </div>
    </div><!-- End Welcome -->
    
  <% } %>

</div>

<br><br><br><br><br><br>
    
     
  </div><!-- <<< End Container >>> -->
