<div class="container clearfix">
  
   <div class="sixteen columns"> <h1 class="page-title">Blog<span class="line"></span></h1>
   </div><!-- Page Title -->
   
   
   <!-- Start Posts -->
   <div class="sixteen columns top bottom">
   

     
     
   </div><!-- End Posts -->  
   
   
  
   
       
     
  </div><!-- <<< End Container >>> -->
