<div class="container clearfix">
  
  <% if(false){ %>
    <div class="sixteen columns"> <h1 class="page-title">About Us <span class="line"></span></h1> </div> <!-- Page Title -->
  
  
  	
    <div id="description">
      <div class="sixteen columns">
        <div class="description">
        <p>
          Our team members hail from all over the world. Europe, America, Asia and the Middle East. We pool our knowledge to give you the most advanced night club / venue management system.
        </p>
        </div>
      </div>
    </div><!-- End description -->
    
    <div class="clearfix"></div>
    
  <% } %>
  
    <div class="meet-team">
      <div class="sixteen columns">
        <h2 class="title">Meet The Team <span class="line"></span></h2>
        <p>
          
        </p>
        </div>
        
        <div class="clearfix"></div>
        
        <ul class="team">
          
          <!-- item 1 -->
          <li class="one-third column">
          	
          	<div style="width:100%; text-align:center;">
          		<img style="max-width:237px;" src="/images/casey.jpg" alt="" />	
          	</div>
            
            <h3>
              Casey Flynn
              <a target="_new" href="http://www.linkedin.com/pub/casey-flynn/20/407/409/" class="linkedin">linkedin</a>
              <a target="_new" href="http://www.facebook.com/CFlynn07" class="facebook">facebook</a>
            </h3>
            <p><strong>Software Engineering</strong><br/>
            	Casey studied computer science & business at Northeastern University in Boston, MA and has previously worked on the iOS software development team of TurboTax for Intuit Inc in San Diego, CA. Casey brings 10+ years of software development experience to the ClubbingOwl team and develops and maintains all components of the platform.
            </p>
          </li>
          <!-- End -->
          
          <!-- item 2 -->
          <li class="one-third column">
           
            <div style="width:100%; text-align:center;">
          		 <img style="max-width:237px;" src="/images/johann.jpg" alt="" />
          	</div>
            
            <h3>
              Johann Barlach
              <a target="_new" href="http://www.linkedin.com/pub/johann-barlach/41/775/571" class="linkedin">linkedin</a>
              <a target="_new" href="http://www.facebook.com/jbarlach" class="facebook">facebook</a>
            </h3>
            <p><strong>Operations</strong><br/>
             Johann Barlach studied Entrepreneurship and Management at Northeastern University. He previously worked as a Business Continuity Analyst for Wellington Management in Boston, MA and has had prior experience in the start-up world, working with a collaborative e-reading application called Slicebase. He is an innovative thinker who enjoys the challenge of growing an idea into a business.
            </p>
          </li>
          <!-- End -->
          
          <!-- item 4 -->
          <li class="one-third column">
          	
          	<div style="width:100%; text-align:center;">
            	<img style="max-width:237px;" src="/images/calais.png" alt="" />
           	</div>
           
            <h3>
              Calais Kraichoke
              <a target="_new" href="http://www.linkedin.com/pub/calais-kraichoke/57/317/560" class="linkedin">linkedin</a>
              <a target="_new" href="http://www.facebook.com/calaisk" class="facebook">facebook</a>
            </h3>
            <p><strong>Graphic Design</strong><br/>
            </p>
          </li>
          <!-- End -->
          
          <div class="clearfix"></div>
          
          
          
        </ul><!-- End team -->
        
    </div><!-- End meet team -->
     
  </div><!-- <<< End Container >>> -->
