<div class="container clearfix">

  <div>
    <img src="/images/magi2.jpg">
  </div>

  <div class="private beta clearfix">
    <div class="sixteen columns">
      <h2 class="title">Private Beta <span class="line"></span></h2>
      <div class="sixteen columns">
        <h3>
           We are currently in a free private beta as we build out new features. Please contact us for an invititaion.

        </h3>
        <div>
          <a href="mailto:info@cobarsystems.com">
           <input value="Sign-up for Private Beta" class="button medium color">
         </a>
        </div>
      </div>
    </div><!-- End Private Beta -->
  </div>

  <div class="clients clearfix">

    <div class="sixteen columns">

    <h2 class="title">In the News <span class="line"></span></h2>
    <ul class="items">
      <li><a href="http://www.northeastern.edu/idea/blog/wordpress/cobar-systems-changing-the-world-of-continuity-management/"><img src="images/img/clients/IDEALogo.jpg" alt="" /></a></li>
       <li><a href="http://bostinno.streetwise.co/channels/startup-spotlight-disaster-preparedness-application-an-interview-with-cobar-systems/"><img src="images/img/clients/BostonInno.jpg" alt="" /></a></li>

    </ul><!-- End items -->

    </div>
  </div><!-- End clients -->

</div><!-- <<< End Container >>> -->
