<div class="container clearfix">
  
 <img src="/images/magi.jpg">
 
  <div class="clients clearfix">
    
      <div class="sixteen columns"> 
      
      <h2 class="title">In the News <span class="line"></span></h2> 
      <ul class="items">
        <li><a href="http://www.northeastern.edu/idea/blog/wordpress/cobar-systems-changing-the-world-of-continuity-management/"><img src="images/img/clients/IDEALogo.jpg" alt="" /></a></li>
         <li><a href="http://bostinno.streetwise.co/channels/startup-spotlight-disaster-preparedness-application-an-interview-with-cobar-systems/"><img src="images/img/clients/BostonInno.jpg" alt="" /></a></li>
       
      </ul><!-- End items -->
      
      </div>
    </div><!-- End clients -->

</div>
    
     
  </div><!-- <<< End Container >>> -->
