<div class="container clearfix">
  
   <div class="sixteen columns"> <h1 class="page-title">Blog<span class="line"></span></h1>
   </div><!-- Page Title -->
   
   
   <!-- Start Posts -->
   <div class="sixteen columns top bottom">

   
   
     <!-- ==================== Post 1 ==================== -->
     <div class="post bottom">
     
      <h2 class="title bottom-2"><a href="single_post.html"> Business Continuity Testing</a> <span class="line"></span></h2><!-- Title Post -->
      
      <div class="post-meta bottom-2">
        <div class="meta"><span class="history  icon gray"></span> On 1 February, 2013 </div><!-- Date -->
        <div class="meta"><span class="user icon gray"></span> By : Johann </div><!-- Author -->
      </div><!-- End post-meta -->
      
      <div class="post-content">
      <p>
       		 Testing business continuity plans can be a major challenge for many organizations. They require management support, time for preparation and execution, funding, careful planning and a structured process from pre-test through test and post-test evaluation. The challenge of planning such tests can be drastically through management systems like Themis that provide structure and automate distribution, collection and aggregation of testing data. 
       		<br>
       	Below are some exaples of common business continuity tests:
       		<br><br>

  			<li>Testing the alert and notification procedures;  including instructions for relocation to alternate sites, with and without warning and during work and non-work hours.</li>  
  			<li>Testing the logistical support, services, and infrastructure systems (e.g. water, electrical power, heating, and air conditioning) at the alternate site.</li> 
  			<li>Testing the interoperable communications and information systems. </li> 
  			<li>Testing an organizations ability to access vital records, systems, and databases necessary to perform essential functions.</li>
  			<li>Testing an employees ability to work from home.</li>
      
		  </p>

    <!-- ==================== Post 2 ==================== -->
     <div class="post bottom">
     
      <h2 class="title bottom-2"><a href="single_post.html">Importance of Business Continuity</a> <span class="line"></span></h2><!-- Title Post -->
      <div class="post-meta bottom-2">
        <div class="meta"><span class="history  icon gray"></span> On 14 January, 2013 </div><!-- Date -->
        <div class="meta"><span class="user icon gray"></span> By : Johann </div><!-- Author -->
      </div><!-- End post-meta -->
      
      <div class="post-content">
        <p>
        	If you want to learn more about the importance of business continuity watch this video by the Business Continuity Institute. It does a good job at outlining the benefits of business continuity planning in a global enconomy.
        </p>
        	<br />
			<div style="width:100%; text-align:left; margin:10px;">
				<iframe style="margin-left:auto; margin-right:auto;" width="560" height="315" src="http://www.youtube.com/embed/3IXEYVxTy4E" frameborder="0" allowfullscreen></iframe>
			</div>
			
        </p>
        <br />
      </div><!-- End post-content -->
</div>

     
  </div><!-- <<< End Container >>> -->
