<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Cobar Systems | Business Continuity Management Solutions</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS Style -->
  <link rel="stylesheet" href="/css/style.css"> 

  <!-- Color Skins -->
  <link rel="stylesheet" href="/css/skins/orange.css" name="skins"> 
  
  <!-- Layout Style -->
  <link rel="stylesheet" href="/css/layout/wide.css" name="layout"> 
  
  
  <!-- Small Icons -->
  <link rel="stylesheet" href="/css/icons.css">  
  
  
  
  
  
<% if(false){ %> 
  <!-- Start JavaScript -->
  
    <script src="/js/libs/jquery-1.7.2.min.js"></script> <!-- jQuery library -->
    <script src="/js/libs/jquery.easing.1.3.min.js"></script> <!-- jQuery Easing --> 
    <script src="/js/libs/jquery-ui.min.js"></script> <!-- jQuery Ui --> 
    <script src="/js/libs/jquery.cookie.js"></script> <!-- jQuery cookie --> 
    <script src="/js/libs/jquery.uniform.min.js"></script> <!-- jQuery Uniform -->
    <script src="/js/libs/ddsmoothmenu.js"></script> <!-- Nav Menu ddsmoothmenu -->
    <script src="/js/libs/jquery.flexslider.js"></script> <!-- Flex Slider  -->
    <script src="/js/libs/jquery.eislideshow.js"></script> <!-- Elastic Slider  -->
    <script src="/js/libs/jquery.iconmenu.js"></script> <!-- Sliding Text and Icon Menu Style  -->
    <script src="/js/libs/colortip.js"></script> <!-- Colortip Tooltip Plugin  -->
    <script src="/js/libs/tytabs.js"></script> <!-- jQuery Plugin tytabs  -->
    <script src="/js/libs/carousel.js"></script> <!-- jQuery Carousel  -->
    <script src="/js/libs/jquery.prettyPhoto.js"></script> <!-- jQuery Prettyphoto  -->
    <script src="/js/libs/jquery.isotope.min.js"></script> <!-- Isotope Filtering  -->
    <script src="/js/libs/selectnav.js"></script> <!-- Responsive Navigation Menu by SelectNav -->
    <script src="/js/libs/jquery.ui.totop.js"></script> <!-- UItoTop plugin  -->
    <script src="/js/libs/custom.js"></script> <!-- Custom Js file for javascript in html -->
    <script src="/js/libs/jquery.tweet.js"></script> <!-- jQuery Tweets -->
    <script src="/js/libs/jflickrfeed.min.js"></script> <!-- jQuery Flickr -->
    <script src="/js/libs/twitter-flickr-options.js"></script> <!-- jQuery Tweets Options -->
    <script src="/js/libs/styleswitch.js"></script> <!-- Style Switcher -->
  
  <!-- End JavaScript -->

  <!--[if lt IE 9]>
      <script src="/js/libs/html5.js"></script>
  <![endif]-->
<% } %>

<script data-main="js/app" src="js/libs/require.js"></script>


  <!-- Favicons -->
  
  <% if(false){ %>
  
	  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
	  <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
	  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
	  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png">
  
  <% } %>

</head>
<body class="diagmonds">

  <div id="wrap" class="boxed">

  <header>
    <div class="container clearfix">
    
      <div class="one-third column">
        <div class="logo">
        <a href="/">
          <img src="/images/logo.png" alt="Cobar Systems - Logo" />
        </a>
        </div>
      </div><!-- End Logo -->
      
         <div class="two-thirds column">
        <nav id="menu" class="navigation">
          <ul id="nav">
            <li><a href="/">Home</a>
            </li>
            <li><a href="/services">Services</a>
            </li>
            <li><a href="/about">About Us</a>
            </li>
            <li><a href="/blog">Blog</a>
            </li>
            <li><a href="/contact" class="active">Contact</a></li>
          </ul>
          
        </nav>
      </div><!-- End Menu -->
      
      <div class="sixteen columns"><hr /></div>
      
    </div><!-- End Container -->
  </header><!-- <<< End Header >>> -->
  
  <div data-role="main">
