<div class="container clearfix">
  
    <div class="sixteen columns"> <h1 class="page-title">About <span class="line"></span></h1> </div> <!-- Page Title -->
  
  
    <div id="description">
      <div class="sixteen columns">
        <h3>
           Knowing that you can withstand an emergency or interuption is crucial for the resilience of your organization. Cobar Systems’ Themis is a web-application that helps organizations establish and quantify disaster preparedness through testing their business continuity plans.  It provides automation and structure to management efforts involved in corporate business continuity testing, ultimately saving time and increasing employee’s engagement in business continuity.
        </h3>
  
      </div>
    </div><!-- End description -->
    
    <div class="sixteen columns"> <h1 class="page-title">How it Works <span class="line"></span></h1> </div> <!-- Page 
    Title -->

    <style type="text/css">
      .wild-class {
        background-image:url('/images/arrow.png'); 
        background-size: 100% 100%; 
        min-height:55px; 
        text-align:center; 
        padding-top:15px;
      }
      .demo-ul li{
        margin: 14px 4px 4px 25px;
        font-size: 1.15em;
        list-style-type: circle;
      }
    </style>

    <div class="five columns">
      <div class="wild-class">
        <h2 style="color:white;">Test Setup</h2>
      </div>
      <ul class="demo-ul">
        <li>Select a test template</li>
        <li>Modify test template details</li>
        <li>Schedule tests using template</li>
        <li>Assign Testers, Coordinators and Approvers</li>
      </ul>
    </div>
    <div class="five columns">
      <div class="wild-class">
        <h2 style="color:white;">Test Execution</h2>
      </div>      
      <ul class="demo-ul">
        <li>Testers receive mobile notification with test details</li>
        <li>Testers enter results from their mobile</li>
        <li>Coordinator and Approver monitor test completion</li>
      </ul>
    </div>
    <div class="five columns">
      <div class="wild-class">
        <h2 style="color:white;">Test Evaluation</h2>
      </div>      
      <ul class="demo-ul">
        <li>Receive post-test reports</li>
        <li>Analyze test results</li>
        <li>Compare test results</li>
        <li>Boost preparedness!</li>
      </ul>
    </div>


    <div class="sixteen columns"> <h1 class="page-title">Key Features<span class="line"></span></h1> </div> <!-- Page Title -->
      

      <ul>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/webdesign-small.png" alt=""></div>
          <h3>Mobile Optimized</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/branding-small.png" alt=""></div>
          <h3>Results Gathering</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/development-small.png" alt=""></div>
          <h3>•Preparedness Score</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/wordpress-small.png" alt=""></div>
          <h3>Templates</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/seo-small.png" alt=""></div>
          <h3>Scheduler</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
        <li class="one-third column">
          <div class="icon-box"><img src="images/icons/services/social-small.png" alt=""></div>
          <h3>Easy Import</h3>
          <p>usce porttitor turpis quis urna molestie cons equat. Nam felis purus, tincidunt sed dapibus ugravida fusce et magna cons equat. 
          Nam felis purus . </p>
        </li>
      </ul>













    <div class="sixteen columns"> <h1 class="page-title">Pricing <span class="line"></span></h1> </div> <!-- Page Title -->
    <div id="description">
      <div class="sixteen columns">
        <h3>
           We are currently in a free private beta as we build out new features. Please contact us for an invititaion.

        </h3>
        <div>
          <a href="mailto:info@cobarsystems.com">
           <input value="Sign-up for Private Beta" class="button medium color">
         </a>
        </div>
      </div>
    </div><!-- End description -->
    
    

  </div><!-- <<< End Container >>> -->