<div class="container clearfix">
  
   <div class="sixteen columns"> <h1 class="page-title">Blog<span class="line"></span></h1>
   </div><!-- Page Title -->
   
   
   <!-- Start Posts -->
   <div class="sixteen columns top bottom">
   
   
   
   
   
   
     <!-- ==================== Post 1 ==================== -->
     <div class="post bottom">
     
      <h2 class="title bottom-2"><a href="single_post.html">The only REALTIME Venue Management System</a> <span class="line"></span></h2><!-- Title Post -->
      
      <div class="post-meta bottom-2">
        <div class="meta"><span class="history  icon gray"></span> On 1 January, 2013 </div><!-- Date -->
        <div class="meta"><span class="user icon gray"></span> By : Casey </div><!-- Author -->
      </div><!-- End post-meta -->
      
      <div class="post-content">
        <p>
          	In the nightlife industry, things happens fast. That’s why we built ClubbingOwl to be 100% real-time. Everyone on a team is always exactly up to date.
			
			<div style="width:100%; text-align:center; margin:10px;">
				<iframe style="margin-left:auto; margin-right:auto;" width="560" height="315" src="https://www.youtube.com/embed/vyYlGsnRpYc" frameborder="0" allowfullscreen></iframe>
			</div>
			
			<br/><br/>Promoters & managers can add clientele to guest-lists or change the venue floor plan and the host is instantaneously updated with the latest information - no page refreshing, no waiting.

			<br/><br/>Use the internal chat system to allow your team to communicate effortlessly. 
        </p>
      </div><!-- End post-content -->
      
     </div> 
     <!-- ==================== End  ==================== -->
     
     
     <div class="post bottom">
     
      <h2 class="title bottom-2"><a href="single_post.html">The power of Facebook</a> <span class="line"></span></h2><!-- Title Post -->
      
      <div class="post-meta bottom-2">
        <div class="meta"><span class="history  icon gray"></span> On 25 December, 2012 </div><!-- Date -->
        <div class="meta"><span class="user icon gray"></span> By : Johann </div><!-- Author -->
      </div><!-- End post-meta -->
      
      <div class="post-content">
        <p>ClubbingOwl’s unique Facebook integration not only gives venues and promoters unprecedented opportunities to virally grow the exposure of their guest-lists and events through the friend-network of their clientele, it also provides extremely consistent, reliable and useful analytics. 

		<br/><br/>Other management systems rely on promoters and staff to manually type the names of their clients into a cumbersome database. This process is error-prone, time consuming, and doesn’t lead to quality analytics.

		<br/><br/>ClubbingOwl’s unique integration into the Facebook platform makes it easy to track clientele. Everyone on Facebook has a unique identifier that can be used to organize your client database. Other management systems have no way of knowing if “John smith” and “John Smith” are the same, or two different people with the same name. 

		<br/><br/>Not to mention the sign up process for clients to join guest lists is just as frustrating and slow. With ClubbingOwl, a client can join your guest list with just a single click. And you get a ton of useful data. </p>
      </div><!-- End post-content -->
      
     </div> 
     
     
     
     
     
     <div class="post bottom">
     
      <h2 class="title bottom-2"><a href="single_post.html">SMS Communication</a> <span class="line"></span></h2><!-- Title Post -->
      
      <div class="post-meta bottom-2">
        <div class="meta"><span class="history  icon gray"></span> On 15 December, 2012 </div><!-- Date -->
        <div class="meta"><span class="user icon gray"></span> By : Casey </div><!-- Author -->
      </div><!-- End post-meta -->
      
      <div class="post-content">
		<p>
			To make it easier to respond to your clients and organize your team, ClubbingOwl features a unique SMS communication system. Promoters and managers are notified whenever they have a new guest list request, and can respond directly to the SMS to accept/decline it. 

			<br/><br/>Managers can send out SMS notifications to all members of their team when they need to make sure everyone is updated ASAP.

			<br/><br/>Ever tried to send an update to everyone on your guest list? You’ve probably had to switch between BBM, iMessage, SMS, Facebook chat, email, carrier pidgeon, smoke signals and phone calls. Now there’s an easier way. Instantly update everyone on your guest list in seconds by updating your guest lists’s “status” in ClubbingOwl. Your update will be delivered to all of your clients by SMS/Email. 

			<br/><br/>These are just some of the many ways ClubbingOwl helps your team work together and be more efficient.
		
		</p>
      </div><!-- End post-content -->
      
     </div> 
     
     
   </div><!-- End Posts -->  
   
   
  
   
   <div class="clearfix"></div>
   
   
   
       
     
  </div><!-- <<< End Container >>> -->
