<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Cobar Systems | Business Continuity Preparedness System</title>
  <meta name="description" content="Cobar Systems provides software that enables organizations to establish and quantify business continuity & disaster preparedness through testing.">
  <meta name="keywords" content="Business Continuity, Testing, Test Management System, Disaster Preparedness, Themis, Cobar Systems, Enterprise Software, Enterprise Test Management">
  
  <meta property="og:image" content="/images/CobarLogo.png"/>


  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS Style -->
  <link rel="stylesheet" href="/css/style.css"> 

  <!-- Color Skins -->
  <link rel="stylesheet" href="/css/skins/orange.css" name="skins"> 

  
  <!-- Layout Style -->
  <link rel="stylesheet" href="/css/layout/boxed.css" name="layout"> 
  
  
  <!-- Small Icons -->
  <link rel="stylesheet" href="/css/icons.css">  
  
  <link rel="shortcut icon" href="/images/CobarFav_01.png">  

<% if(true){ %>
	<script data-main="/js/app" src="/js/libs/require.js"></script>
<% }else{ %>
	<script src="/js/app-built2.js"></script>
<% } %>

  <!-- Favicons -->
	  <link rel="shortcut icon" href="/images/CobarFav_01.png">


  <% if(false){ %>
  
	  <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
	  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
	  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png">
  
  <% } %>

</head>
<body style="background-image:url('/images/shattered.png');" class="diagmonds">
	
  <div id="wrap" class="boxed">

  <header>
    <div class="container clearfix">
    
      <div class="one-third column">
        <div class="logo">

        <a href="/">
          <img src="/images/CobarLogo.png" alt="CobarSystems" />
        </a>
        
        </div>
      </div><!-- End Logo -->
      
      
       <div class="two-thirds column">
        <nav id="menu" class="navigation">
          <ul id="nav">
          	
          	
            <li><a href="/features">Themis</a>
            </li>
            <% if(false){ %>
            <li><a href="/faq">FAQ</a>
            </li>
             <% } %>
            <li><a href="/blog">Blog</a>
            </li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          
        </nav>
      </div><!-- End Menu -->
      
      <div class="sixteen columns"><hr /></div>
      
    </div><!-- End Container -->
  </header><!-- <<< End Header >>> -->
  
  <div data-role="main">
